body {
    background-image: url('../image/background.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 100vh;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.logo-container {
    text-align: center;
    margin: 500px 0 0 0;
}

.logo-container img {
    text-align: center;
    max-width: 100%;
    width: 400px;
    height: auto;
    border-radius: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.logo-container img:hover {
    transform: scale(1.1);
}

.center-container {
    margin: 1200px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.center-container div {
    margin: 20px 0;
}

.center-container a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: #246e21;
    font-size: 28px;
    font-weight: bold;
    padding: 10px 20px;
    border: 2px solid #246e21;
    border-radius: 5px;
    width: 280px;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px 0 0 0;
}

.center-container a .arrow {
    margin-left: 10px;
    font-size: 18px;
    transition: transform 0.3s ease;
}

.center-container a:hover {
    background-color: #00ff2a;
    color: #fff;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.center-container a:hover .arrow {
    transform: translateX(5px);
}

/* Media Query untuk Layar Kecil (Max 768px) */
@media (max-width: 768px) {
    body{
        background-size: 390px;
    }

    .logo-container {
        margin: 220px 0 0 0;
    }

    .logo-container img {
        text-align: center;
        max-width: 100%;
        width: 100px;
        height: auto;
        border-radius: 100%;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s ease;
    }

    .center-container {
        margin: 0;
    }

    .center-container a {
        margin: 0;
        font-size: 14px;
        padding: 8px 16px;
        width: 160px;
    }

    footer {
        margin: 175px 0px 0px 0px;
        text-align: center;
    }

    .social-icon {
        font-size: 10px; 
        color: #000;    
        text-decoration: none;
        display: inline-flex;
        align-items: center;
        gap: 5px;  
    }
    
    .social-icon:hover {
        color: #007BFF; 
    }
    
}